<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="style.css" type="text/css" media="all">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <title>Shopping Cart</title>
    </head>
    <body>
        
<div id="app">
  <nav class="navbar navbar-light sticky-top mr-3">
    <div v-if="cart.length" class=" w-100 navbar-text ml-auto d-flex justify-content-end position-relative">
      <div  class="mr-auto d-flex align-items-end flex-column bd-highlight mb-3 position-absolute" >
        <div class="mb-2">
          <span class="font-weight-bold bg-white"><curr :amt="cartTotal"></curr></span>
          <button
            @click="displayCart= !displayCart"
            class="btn btn-sm btn-success ml-3"
            id="cartDropdown"
            aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-shopping-cart mr-1"></i>
          {{cart.length}}
          </button>
        </div>
          <div class="dropdown-clip">
            <transition name="dropdown">
              <div v-if="displayCart" class="list-group" aria-labelledby="cartDropdown">
                <div v-for="(item, index) in cart" :key="index" class="list-group-item d-flex justify-content-between">
                    <div >{{item.name}}</div>
                    <div class="ml-3 font-weight-bold"><curr :amt="item.price"></curr></div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </nav>

  <section class="container">  
    <label for="max-price" class="form-label h2">Max Price (${{max}})</label>
    <div class="badge bg-success ml-3">results: {{filteredProducts.length}}</div>

    <input v-model.number="max" type="range" class="form-range" min="0" max="130" > 
    <transition-group name="products" appear>
      <div v-for="(item, index) in filteredProducts" :key="item.id" id="item-list" class="row align-items-center">
      <product :item="item" @add-to-cart="addToCart"></product>
      </div>
  </transition-group>  
  </section>
</div>
<script src="app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    </body>
</html>
